<a href="https://colab.research.google.com/github/ShivSubedi/LeetCode_practice_problems/blob/main/pandas_LeetCode_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This .ipynb file contains the basic concepts for pandas based on the 'Introduction to Pandas' exercise module.

In [ ]:
#import pandas
import pandas as pd

# Concept 1: Pandas Data Structures

## 1(a) Series
In pandas, 'series' should havea all numerical entries while 'list' can have both numbers and srtings.
Note: Pandas list is not considered as a Pandas data Structure.

In [ ]:
s1=pd.Series([3,-5,7,4]) #when index not provided, default indexing starts from 0, ...
print(s1)

0    3
1   -5
2    7
3    4
dtype: int64

In [ ]:
s=pd.Series([3,-5,7,4], index=['a','b', 'c', 'd']) #specifies the indexing format for each entries
print(s)

a    3
b   -5
c    7
d    4
dtype: int64

## 1(b) DataFrame
There are several ways of creating a data frame. Below are the most common methods:

### 1(b)(i) From a dictionary of lists or Numpy arrays
Note: Contains duplicate entries of rows based on 'email'

In [ ]:
data1 = {
    'customer_id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Tom', 'Joseph', 'Michael', 'Doug'],
    'email': ['alice@emample.com', 'tom@emample.com', 'tom@emample.com', 'michael@emample.com', 'doug@emample.com']
}
df1=pd.DataFrame(data1)
print(df1)

   customer_id     name                email
0            1    Alice    alice@emample.com
1            2      Tom      tom@emample.com
2            3   Joseph      tom@emample.com
3            4  Michael  michael@emample.com
4            5     Doug     doug@emample.com

### 1(b)(ii) From a list of dictionaries
Each dictionary in the list represents a row in the DataFrame.

In [ ]:
data2 = [
    {'Name':'Shaun', 'Age':79, 'State':'MN'},
    {'Name':None, 'Age':23, 'State':'GA'},
    {'Name':'John', 'Age':None, 'State': 'CA'}

]
df2=pd.DataFrame(data2)
print(df2)

    Name   Age State
0  Shaun  79.0    MN
1   None  23.0    GA
2   John   NaN    CA

### 1(b)(iii) From a NumPy ndarray

In [ ]:
import numpy as np
data3=np.array([['Shaun', 79, 'MN'], ['Mandy', 38, 'GA'], ['John', 27, 'FL']])
df3=pd.DataFrame(data3, columns=['Person', 'Age', 'City'], index=['a', 'b', 'c'])
print(df3)

  Person Age City
a  Shaun  79   MN
b  Mandy  38   GA
c   John  27   FL

### 1(b)(iv) From a list of list

In [ ]:
data4=[['Zach', 35, 'CT'], ['Carl', 66, 'IA'], ['Julie', 53, 'NJ']]
df4=pd.DataFrame(data4, columns=['Name', 'Age', 'State'])
print(df4)

    Name  Age State
0   Zach   35    CT
1   Carl   66    IA
2  Julie   53    NJ

### 1(b)(v) From a list of list (after defining a function)

In [ ]:
#Above solution can also be tried by defining a function
def createDataframe(data):
  return(pd.DataFrame(data, columns=['Name', 'Salary'], index=['a', 'b', 'c', 'd']))

data5=[['Shaun', 79000.01], ['Mandy', 93000.90], ['John', 145000.5], ['Cameron', 110000.3]]
df5 = createDataframe(data5)
print(df5)

      Name     Salary
a    Shaun   79000.01
b    Mandy   93000.90
c     John  145000.50
d  Cameron  110000.30

### 1(b)(vi) From csv or other files
Pandas can directly import data from files into DataFrames

In [ ]:
#df6=pd.read_csv('dataFileName.csv') #read from csv file

# Concept 2: Data Inspection

## 2(a): Get the size of Data Frame

In [ ]:
def getDataFrameSize(df):
  row_column=[df.shape[0], df.shape[1]]
  return(row_column)

getDataFrameSize(df4)

[3, 3]

## 2(b): Display the first two rows

In [ ]:
def getfirstTwoRows(df):
  rows=df.head(2)
  return(rows)

getfirstTwoRows(df4)

    Name  Age City
a  Shaun   79   MN
b  Mandy   38   GA

# Concept 3: Data Selecting

## 3(a) Select Data
Select the data with indexing

In [ ]:
def selectData(df):
  selData = df[df['Name']=='Mandy']
  selData_age_city=selData[['Age', 'City']] #df[['A', 'B']] outputs dataframe with columns A and B; df['A'] is treated as 'Series' (1-d labelled array)
  data_type = type(selData_age_city)
  return (selData_age_city, data_type)

selectData(df4)

(   Age City
 b   38   GA,
 pandas.core.frame.DataFrame)

## 3(b): Creating a new Column and change data type
Create a new column Bonus= Salary*2 from data frame 5 (df5) and return an integer value

In [ ]:
def bonusSalary(df):
  df['Bonus']=(df['Salary']*2).astype(int)
  return(df)

bonusSalary(df5)
#print(df5['Bonus'].dtype)

      Name     Salary   Bonus
a    Shaun   79000.01  158000
b    Mandy   93000.90  186001
c     John  145000.50  290001
d  Cameron  110000.30  220000

# Concept 4: Data Cleaning

## 4(a) Drop Duplicate Rows
Remove duplicate rows and keep only the first occurrence.

We will use the data Frame (df1) for this example, where we can see that Tom (customer_id = 2) and Joseph (customer_id = 3) both have tom@example.com as their email address. So, only the data(i.e., row) with the first occurrence of this email is retained.

In [ ]:
#keep= 'first' (default) retains the first duplicate row, = 'last' retains the last duplicate row, = False removes all occurence of duplicate rows
#inplace = True-> modifies the original DataFrame, = True (default)-> returns a new data frame
def dropDuplicateRows(df):
  df_unique=df.drop_duplicates(subset=['email'], keep='first', inplace=False) #can remove 'keep, and 'inplace' for default requirements
  return(df_unique)

dropDuplicateRows(df1)

   customer_id     name                email
0            1    Alice    alice@emample.com
1            2      Tom      tom@emample.com
3            4  Michael  michael@emample.com
4            5     Doug     doug@emample.com

## 4(b) Drop Missing Data
Here, we will be working with data Frame 2 (df2), which contains 'None' i.e. empty values. We will drop this missing data

In [ ]:
def dropMissingData(df):
  df_nonEmpty=df.dropna(subset=['Age', 'Name'])
  return (df_nonEmpty)

dropMissingData(df2)

    Name   Age City
0  Shaun  79.0   MN

## 4(c) Modify Columns
From the data frame 2, modify the salary by multiplying each salary by 2.

In [ ]:
print('Original Data Frame')
print(df5)
def doubleSalary(df):
  df['Salary']=df['Salary']*2
  return (df)
print('Modified Data Frame')
print(doubleSalary(df5))

Original Data Frame
      Name     Salary
a    Shaun   79000.01
b    Mandy   93000.90
c     John  145000.50
d  Cameron  110000.30
Modified Data Frame
      Name     Salary
a    Shaun  158000.02
b    Mandy  186001.80
c     John  290001.00
d  Cameron  220000.60

## 4(d) Rename Columns
Here, we will use the data frame 3 (df3) and make following changes to the column names. Replace: 'Person' by 'Name', 'Age' by 'Age_in_yrs', and 'City' by 'Sate'

In [ ]:
print('Original Data Frame')
print(df3)

def renameColumns(df):
  df_renamed=df.rename(columns={'Person': 'Name', 'Age':'Age_by_yrs', 'City':'State'}) #{} indicates application of dictionary
  #df=df.rename(columns={'Person': 'Name', 'Age':'Age_by_yrs', 'City':'State'}, inplace=True) #inplace=True modifies the original data directly
  return(df_renamed)

print('Modified Data Frame')
print(renameColumns(df3))

Original Data Frame
  Person Age City
a  Shaun  79   MN
b  Mandy  38   GA
c   John  27   FL
Modified Data Frame
    Name Age_by_yrs State
a  Shaun         79    MN
b  Mandy         38    GA
c   John         27    FL

## 4(e) Fill missing Data
Here, we will use Data Frame 2 (df2) to fill in the missing data (None) as 0. This will affect two columns 'Age' and 'Name'

In [ ]:
print('original dataFrame')
print(df2)

def fillMissingData(df):
  df_filled=df.fillna({'Name':'Unknown', 'Age':0})
  #df_filled=df.fillna(0) #This would have been suffice if we are to replace entire missing values (strings, num) with '0'
  df['Age']=df['Age'].fillna(0) # if we have to replace missing values of any particular column
  return(df)

print('modified dataFrame')
print(fillMissingData(df2))

original dataFrame
    Name   Age State
0  Shaun  79.0    MN
1   None  23.0    GA
2   John   NaN    CA
modified dataFrame
    Name   Age State
0  Shaun  79.0    MN
1   None  23.0    GA
2   John   0.0    CA

# Concept 5: Table reshaping

## 5(a) Reshape data: concatenate
Here, we will concatenate the data from dataFrames 2 and 4 and arrange them vertically into a single dataFrame

In [ ]:
def concat_df(df1, df2):
  df = pd.concat([df1, df2], axis=0) #axis =0 stacks along the rows i.e. vertically
  return df

concat_df(df2, df4)

    Name   Age State
0  Shaun  79.0    MN
1   None  23.0    GA
2   John   0.0    CA
0   Zach  35.0    CT
1   Carl  66.0    IA
2  Julie  53.0    NJ

## 5(b) Reshape data: Pivot

In [ ]:
#Lets create a new data frame first
# Example usage (you can replace this with your actual DataFrame):
data = {
    'city': ['London', 'London', 'London', 'Berlin', 'Berlin', 'Berlin'],
    'month': ['Jan', 'Feb', 'Mar', 'Jan', 'Feb', 'Mar'],
    'temperature': [2, 4, 7, -3, 0, 2]
}
weather_df = pd.DataFrame(data)
print(weather_df)

     city month  temperature
0  London   Jan            2
1  London   Feb            4
2  London   Mar            7
3  Berlin   Jan           -3
4  Berlin   Feb            0
5  Berlin   Mar            2

Write a solution to pivot the data of data frame 'weather_df' so that each row represents temperatures for a specific month, and each city is a separate column.

In [ ]:
def pivotedWeather(df):
  #pivoted_weather = pd.pivot_table(df, index='month', columns= 'city', values='temperature') #this works too
  pivoted_weather = df.pivot(index='month',
                             columns= 'city',
                             values='temperature')
  return(pivoted_weather)

print (pivotedWeather(weather_df))

city   Berlin  London
month
Feb         0       4
Jan        -3       2
Mar         2       7

## 5(c) Reshape Data: Melt

Lets first create a data frame

In [ ]:
data = {
    'product': ['Umbrella', 'Bag'],
    'quarter_1': [100, 150],
    'quarter_2': [90, 140],
    'quarter_3': [80, 130],
    'quarter_4': [70, 120]
}
report_df = pd.DataFrame(data)
print(report_df)

    product  quarter_1  quarter_2  quarter_3  quarter_4
0  Umbrella        100         90         80         70
1       Bag        150        140        130        120

Write a solution to reshape the data (from wide to long format) so that each row represents sales data for a product in a specific quarter.

In [ ]:
def meltTable(df):
  melted_table= pd.melt(df,
                        id_vars = ['product'], #this column remains unchanged
                        var_name = 'quarter', #sets name of new column for quarter names
                        value_name='sales') #sets name of new column for sales values
  return(melted_table)

meltTable(report_df)

    product    quarter  sales
0  Umbrella  quarter_1    100
1       Bag  quarter_1    150
2  Umbrella  quarter_2     90
3       Bag  quarter_2    140
4  Umbrella  quarter_3     80
5       Bag  quarter_3    130
6  Umbrella  quarter_4     70
7       Bag  quarter_4    120

# Concept 6

## 6(a) Method Chaining

Lets create a new data frame first for implenting the 'method chaining'

In [ ]:
data = {
    'name': ['Tiger', 'Elephant', 'Giraffe', 'Monkey', 'Bear'],
    'species': ['Mammal', 'Mammal', 'Mammal', 'Mammal', 'Mammal'],
    'age': [5, 10, 7, 3, 8],
    'weight': [200, 5000, 800, 30, 300]
}
animals_df = pd.DataFrame(data)
print(animals_df)

       name species  age  weight
0     Tiger  Mammal    5     200
1  Elephant  Mammal   10    5000
2   Giraffe  Mammal    7     800
3    Monkey  Mammal    3      30
4      Bear  Mammal    8     300

List the names of animals that weigh strictly more than 200 kilograms and return the animals sorted by weight in descending order.

In [ ]:
def selAnimals(df):
  AnimalsUp200lb = df[df['weight']>200]
  sorted_AnimalsUp200lb = AnimalsUp200lb.sort_values(by='weight', ascending=False)
  return (sorted_AnimalsUp200lb[['name']])

print(selAnimals(animals_df))

       name
1  Elephant
2   Giraffe
4      Bear